<ng-include src=" 'app/template/menuTop/menuTop.html' "></ng-include>
<div class="container-fluid">
    <div class="col-lg-12  principal">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="page-header">
                    <h1>Agregar Contacto</h1>
                </div>
                <form ng-submit="submitNuevoContacto()">
                    <div class="row">
                        <div class="col-lg-3"> 
                            <div class="alert alert-success" ng-show="ContactoRegistrado">
                                <center>Contacto Creado Con Exito</center>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i>
                                    </span>
                                    <input ng-model="dataRegistrarContacto.foto" type="text" class="form-control" aria-label="..." placeholder="FOTO" required>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user-circle-o"></i>
                                    </span>
                                    <input ng-model="dataRegistrarContacto.nombre" type="text" class="form-control" aria-label="..." placeholder="NOMBRE" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user-circle"></i>
                                    </span>
                                    <input ng-model="dataRegistrarContacto.apellido" type="text" class="form-control" aria-label="..." placeholder="APELLIDO" required>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mobile iconoForm2"></i>
                                    </span>
                                    <input ng-model="dataRegistrarContacto.telefono" type="tel" class="form-control" aria-label="..." placeholder="TELEFONO" required>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i>
                                    </span>
                                    <input ng-model="dataRegistrarContacto.correo" type="email" class="form-control" aria-label="..." placeholder="CORREO" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-default btn-block">Guardar</button>
                        </div>
                        <div class="col-lg-1">
                            <button  class="btn btn-danger btn-block">Limpiar</button>
                        </div>
                        <div class="col-lg-1">
                            <a href="#!/inicio"><button type="submit" class="btn btn-default btn-block">Cancelar</button></a>    
                        </div>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
<div class="divFooter">     
    <p class="parrafo">Agenda Telefonica <span>Brayan Andres Piedrahita © 2017</span></p>
</div>