<ng-include src=" 'app/template/menuTop/menuTop.html' "></ng-include>
<div class="container-fluid">
    <div class="col-lg-12  principal">
        <div class="row" style="margin-top: 0px;">
            <div class="col-lg-10 col-lg-offset-1" style="margin-top: 20px;">
                <div class="table-responsive ">
                    <table class="table">
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                        <tr ng-repeat="contacto in contactos">
                            <td>{{contacto.con_foto}}</td>
                            <td>{{contacto.con_nombres}}</td>
                            <td>{{contacto.con_apellidos}}</td>
                            <td>{{contacto.con_telefono}}</td>
                            <td>{{contacto.con_correo}}</td>

                            <td><i ng-click="editar(contacto)" title="Editar" class="glyphicon glyphicon-pencil iconoTabla"></i>
                                <i ng-click="eliminar(contacto)" class="glyphicon glyphicon-trash"></i></td>
                        </tr>

                    </table>
                    
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="divFooter">     
     <p class="parrafo">Agenda Telefonica <span>Brayan Andres Piedrahita © 2017</span></p>
</div>