.tituloAgregar{
    font-family: Berlin Sans FB;
}

.iconoAtras{
    float: right;
    font-size: 30px;
}

.fontImput{
    font-family: Berlin Sans FB;
}

.parrafoError{
    color: red;
    font-family: Berlin Sans FB;
    margin-left: 40px;
    margin-top: 10px;
}
.iconoError{
    margin-right: 10px;
}